.table-view .column-header-background .filler{
	-fx-background-color: #3b3b3b;
}



.table-view:row-selection{
	-fx-background-color: #494949;
}


.table-row-cell:even{
	-fx-background-color: #494949;
	-fx-text-fill: #ffffff;
}

.table-row-cell:even .text{
	-fx-fill: #ffffff;
}


.table-row-cell:odd{
	-fx-background-color: #5a5a5a;
}

.table-row-cell:odd .text{
	-fx-fill: #ffffff;
}

.table-row-cell:focused{
	-fx-background-color: #0053a8;
}

.column-header{
	-fx-background-color: #3b3b3b;
	-fx-border-color: #3b3b3b;
}

.column{
	-fx-background-color: #3b3b3b;
}

.column-header .text{
	-fx-fill: #ffffff;
}


.scroll-pane{
   	-fx-background-color: transparent;
	-fx-control-inner-background: transparent;
}

.title{
	-fx-background-color: #353535;
	-fx-text-fill: #ffffff;
	/*-fx-border-width: 2;
	-fx-border-color: #494949;*/
}

.titled-pane {
	-fx-text-fill: #ffffff;
}

.titled-pane > *.content {
	-fx-background-color: #494949;
	-fx-border-color: #494949;
}

/**************************************************************************
*                                                                         *
* Scroll Bar Properties
*                                                                         *
**************************************************************************/

.scroll-bar{
	-fx-background-color: #494949;
}

.thumb{
	-fx-background-color: #5b5b5b;
}

.track{
	-fx-background-color: #494949;
}

.increment-button{
	-fx-background-color: #494949;
}

.decrement-button{
	-fx-background-color: #494949;
}

.corner{
	-fx-background-color: #494949;
}